body, html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
	background: url('system/bg.png') center #1c0012;
}

img {
	max-width: 100%;
	max-height: 100%;
}

nav{
	padding: 1rem;
	color: white;
	text-align: center;
	margin-bottom: 2rem;
	background-color: black;
}

nav a {
	text-decoration: none;
	color: white;
}

#cards {
	width: 100%;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2rem;
}	

.card {
	display: grid;
	width: 320px;
	height: 500px;
	border-radius: 10px;
	border: 10px solid red;
	grid-template-columns: 70% 30%;
	grid-template-rows: 40px 100px 1fr 100px;
	background-color: black;
	color: white;
	cursor: pointer;

	transition: transform .1s;
	transform: scale(1.0);
	position: relative;
}


.card:hover {
	transform: scale(1.1);
}

.card.snes, .card.n64 {
	border-color: #970101;
	background-color: #d90000 !important;
}

.card.pc {
	border-color: #353535;
	background-color: black !important;
}

.card.ps3, .card.ps4 {
	border-color: #012b62;
	background-color: #00439c !important;
}

.card .name {
	font-weight: bold;	
	background-color: inherit;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px;
	grid-column: span 3;
}

.card .type {
	grid-column-start: 2;
	grid-row-start: 2;
	display: flex;
	place-items:  center;
	justify-content: center;
}

.card .type span{
	font-size: 40px;
	line-height: 50px;
	width: 50px;
	background: lightgray;
	color: black;
	padding: 10px;
	border-radius: 50%;	
	text-align: center;
}

.card .logo {
	background-color: inherit;
	text-align: center;
	grid-row-start: 4;
	display: flex;
	place-items:  center;
	justify-content: center;
	padding: 5px;
}

.card .system {	
	background-color: inherit;
	text-align: center;
	grid-row-start: 4;
	display: flex;
	place-items:  center;
	justify-content: center;
	padding: 5px;
}

.card .system span {	
	font-size: 8px;
	position: absolute;
	bottom: -10px;
	right: 2px;
}

.card .system img {
	max-height: 35px;
}

